<header>
    <div class="container1">
        <h1>RetroBlog</h1>
        <p>Un blog para amantes del retro</p>
    </div>
    <div class="container2">
        <nav>
            <ul>
                <li><a href="#videojuegos">videojuegos</a></li>
                <li><a href="#ordenadores">ordenadores</a></li>
                <li><a href="#consolas">consolas</a></li>
            </ul>
        </nav>
    </div>
</header>